version: '3'

services:
    anyE:
       image: a7cfa286e185
       ports:
         - "80:80"
         - "9501:9501"
         - "9502:9502"
         - "9503:9503"
       volumes:
         - ./../../fm-swoole:/usr/local/code
       stdin_open: true 
       tty: true
       privileged: true
       entrypoint: ["bash"]